<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<ul>
    <li><a href="/good-users">查看优秀用户</a></li>
    <li><a href="/vistors">查看浏览者</a></li>
    <li><a href="/dao-wei/fav">到位</a></li>
</ul>

{{range .users}}
    <table align="center" border="1">
        <tr>
            <td>照片</td>
            <td>
            {{range .photos}}
                <img src="{{.}}" width="200px" height="300px">
            {{end}}
            </td>
        </tr>
        <tr>
            <td>身高</td>
            <td>{{.height}}</td>
        </tr>
        <tr>
            <td>体重</td>
            <td>{{.weight}}</td>
        </tr>
        <tr>
            <td>uid</td>
            <td>{{.uid}}</td>
        </tr>
        <tr>
            <td>姓名</td>
            <td>{{.nickname}}</td>
        </tr>
        <tr>
            <td>手机</td>
            <td>{{.phone}}</td>
        </tr>
        <tr>
            <td>家乡</td>
            <td>{{.home}}</td>
        </tr>
        <tr>
            <td>生日</td>
            <td>{{.birthday}}</td>
        </tr>
        <tr>
            <td>工作</td>
            <td>{{.position}}</td>
        </tr>
        <tr>
            <td>公司</td>
            <td>{{.company}}</td>
        </tr>
        <tr>
            <td>学校</td>
            <td>{{.school}}</td>
        </tr>
        <tr>
            <td>介绍</td>
            <td>{{.intro}}</td>
        </tr>
        <tr>
            <td>
                操作
            </td>
            <td>
                <a href="/add-collect?uid={{.uid}}">加入收藏</a>
                ===========
                <a href="/add-block?uid={{.uid}}">加入黑名单</a>
            </td>
        </tr>
    </table>

{{end}}
</body>
</html>